<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>C++</key>
	<dict>
		<key>CompletionDictionary</key>
		<dict>
			<key>J6CompletionSetNameKey</key>
			<string>C</string>
			<key>J6CompletionSetWordsKey</key>
			<array/>
		</dict>
		<key>ContinuousColoring</key>
		<true/>
		<key>RuleArray</key>
		<array>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>macro values</string>
				<key>StartString</key>
				<string>\b(nil|NULL|true|false)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>data types</string>
				<key>StartString</key>
				<string>\b(char|double|enum|float|int|long|short|struct|union|unsigned|signed|bool|complex|imaginary|_Bool|_Complex|_Imaginary|void|sizeof|typedef)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>storage class</string>
				<key>StartString</key>
				<string>\b(auto|extern|register|static|private|const|volatile|restrict|inline)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>statements</string>
				<key>StartString</key>
				<string>\b(break|case|continue|default|do|else|for|goto|if|return|switch|while)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>objective C</string>
				<key>StartString</key>
				<string>@(?:class|selector|end|interface|end|implementation)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAAABAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>objective C-2</string>
				<key>StartString</key>
				<string>\b(BOOL|IBAction|IBOutlet|id|self|YES|NO)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmAIM++IaKAAGG
				</data>
				<key>EndString</key>
				<string>(?&lt;!\\)$</string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>preproccessors</string>
				<key>StartString</key>
				<string>#\s*(define|undef|include|import|if|ifdef|ifndef|else|endif|pragma)\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8BZCyDPZAj7YM+
				BUxnAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>function call</string>
				<key>StartString</key>
				<string>\b\w+\b\s*(?=\()</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8BZCyDPZAj7YM+
				BUxnAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<false/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>message selector</string>
				<key>StartString</key>
				<string>(?&lt;=[^\s:\[])\s*\b\w+\b\s*(?=\])|(?&lt;=[^\s\?])\s*\b\w+\b\s*(?=:)</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8AAACDPwO8u4M/
				AAAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<true/>
				<key>Name</key>
				<string>hexa-decimal value</string>
				<key>StartString</key>
				<string>\b[0-9]x[0-9a-f]+\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8AAACDPwO8u4M/
				AAAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>numerical value</string>
				<key>StartString</key>
				<string>\b[0-9]+(?:\.[0-9]*)?|\.[0-9]+\b</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8AAACDPwO8u4M/
				AAAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>character value</string>
				<key>StartString</key>
				<string>'[^'\\\n]*(?:\\.[^'\\\n]*)*'</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz8B3l2DPvxDRYM/
				AAAAAYY=
				</data>
				<key>EndString</key>
				<string></string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>string value</string>
				<key>StartString</key>
				<string>@?"[^"\\\n]*(?:\\.[^"\\\n]*)*"</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz9XpvWDPl5W6IM+
				Sf80AYY=
				</data>
				<key>EndString</key>
				<string>\*/</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment 1</string>
				<key>StartString</key>
				<string>/\*</string>
				<key>Underline</key>
				<false/>
			</dict>
			<dict>
				<key>Color</key>
				<data>
				BAt0eXBlZHN0cmVhbYED6IQBQISEhAdOU0NvbG9yAISE
				CE5TT2JqZWN0AIWEAWMBhARmZmZmgz9XpvWDPl5W6IM+
				Sf80AYY=
				</data>
				<key>EndString</key>
				<string>(?&lt;!\\)$</string>
				<key>ExclusiveData</key>
				<true/>
				<key>IgnoreCase</key>
				<false/>
				<key>Name</key>
				<string>comment 2</string>
				<key>StartString</key>
				<string>//</string>
				<key>Underline</key>
				<false/>
			</dict>
		</array>
		<key>TargetFiles</key>
		<string>\.cpp$|\.mm$|\.hpp$</string>
	</dict>
</dict>
</plist>
